.left-container{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 100%;
  overflow: scroll;
  border-right: 1px solid grey;
  padding: 0rem 3rem;
  a{
    text-decoration: none;
    color: inherit;
  }
  &::-webkit-scrollbar{
    width: 1px;
  }

  .top{
    img{
    width: 200px;
    height: 100px;
    object-fit: cover;
    }
  }
  .middle, .bottom{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    gap: 2rem;
    
    button{
      border: none;
      background-color: inherit;
    }

    .search{
      background-color: white;
      position: absolute;
      top: 0;
      left: 0;
      padding: 2rem;
      width: 250px;
      height: 450px;
      border: 1px solid black;
      border-radius: 3px;
      overflow: scroll;
      z-index: 2;
      &::-webkit-scrollbar{
        width: 1px;
      }
      .top{
        position: relative;
        margin-bottom: 5px;
        input{
          width: 100%;
          outline: none;
          border: none;
          border-bottom: 1px solid grey;
        }
        svg{
          position: absolute;
          top: 0;
          right: 0;
          color: crimson;
          cursor: pointer;
          transition: border;
          transition-timing-function: ease;
          transition-duration: 400ms;
          &:hover{
            border: 1px solid crimson;
            border-radius: 50%;
          }
        }
      }
    }

    gap: 5px;
    .icon-container{
      
      svg{
        transition: width;
        transition-timing-function: ease;
        transition-duration: 400ms;
      }
      &:hover{
        cursor: pointer;
        background-color: rgb(240, 240, 240);
        border-radius: 15px;
        svg{
          width: 35px;
          height: 35px;
          color: crimson;
        }
      }
    }
    
  }
  .bottom{
    position: relative;
    .menu-item{
      position: absolute;
      top: -20;
      right: 0;
      border: 1px solid grey;
      padding: 1rem;
      background-color: white;
    }
  }
}