.main-container{
  img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
  }
  .com-top{
    display: flex;
    align-items: center;
    gap: 5px;
    .com-right{
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
  .com-bottom{
    display: flex;
    align-items: center;
    gap: 5px;
  }
}